.pricing {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('/assets/images/pricing-background-image.png');
  background-size: cover;
  background-position: center center;
}
